@import url('https://fonts.googleapis.com/css?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jersey&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+15&family=Sixtyfour&display=swap');
body {
    background-color: black;
    color: red;
} 

.paragraph1 {
    font-family: SixtyFour;
}
.paragraph2 {
    font-family: "Cardo", serif;
}
.paragraph3 {
    font-family: "Jersey 15", serif;
}
.paragraph4 {
    font-family:'Times New Roman', Times, serif
}
.paragraph5 {
    font-family:'Courier New', Courier, monospace
}
.finaltask {
    color: red;
    
}