@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* font-family: "Inter", serif; */
body {
    background-color: black;
    margin: 0;
    padding-top: 70px;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 10px 0;
}

button {
    background-color: red;
    border: 2px solid;
    height: 30px;
    margin: 0 10px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover {
    background-color: white;
    color: red;
}

a {
    text-decoration: none;
    color: black;
}

#hr1 {
    position: fixed;
    top: 50px;
    width: 100%;
    border: none;
    height: 2px;
    background-color: red;
}
p {
    margin-top: 100px;
    color: red;
    font-size: large;
    padding: 20px;
}

h1 {
    color: red;
    text-align: center;
    font-family: "Inter", serif;
    font-size: 40px;
}