.one {
    width: 250px;
    height: 250px;
    background-color: black;
    margin: auto;
    margin-top: 200px;
}
.one:hover {
    background-color: blue;
    transition: 900ms;
    cursor: pointer;
}
.two {
    width: 150px;
    height: 150px;
    background-color: red;
    margin: auto;
    margin-top: 400px;
}
.two:hover {
    transform: translate(-50px, 100px) rotate(-180deg);
    transition: 900ms;
    cursor: pointer;
}