@import url('https://fonts.googleapis.com/css?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jersey&family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+15&family=Sixtyfour&display=swap');

body {
    background-color: gray;
    text-shadow: darkblue 3px 2px;
}

#div1 {
    color: darkred;
    font-family: Sixtyfour, sans-serif;
    text-decoration: underline black;
}

#div2 {
    text-shadow: darkmagenta 3px 2px;
    color: darkgreen;
    font-family: "Cardo", serif;
    text-decoration: underline black;
}

#div3 {
    text-shadow: darkorange 3px 2px;
    color: darkcyan;
    font-family: "Jersey 15", serif;
    text-decoration: underline black;
}